
:root {
  --color-charcoal: #34373f;
  --font-size-6: .875rem;
  --transition-duration: .15s ease-in;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  border-top: 1px solid var(--color-charcoal);

  & span {
    padding: 0 .25rem;
  }

  & svg {
    vertical-align: middle;
    fill: currentColor;
  }
}

.anchor {
  flex: none;
  color: var(--color-charcoal);
  font-size: var(--font-size-6);
  text-decoration: none;
  opacity: .7;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 1;
  }
}
